@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model == null)
{
    <p> We don't have any Movies yet </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movies</th>
            <th> Number in stock </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movies in Model)
        {
            <tr>
                <td> @Html.ActionLink((string)movies.Name, "Edit", "Movies", new { id = movies.Id }, null)</td>
                <td>@movies.NumberInStock</td>
            </tr>
        }
        </tbody>
    </table>
}